body {
    text-align: center;
    background-color: bisque;
    background-image: linear-gradient(to right, red , yellow);
}

button{
    cursor: pointer;    
    font-size: 50px;
    width: 70px;
    height: 70px;
    margin-top: 100px;
}

#result {
    margin-top: 100px;
}

button:hover{
    background-color: rgb(66, 66, 183);
}